COM-ENTREGABLE2/Shelly.json
[{"id":"2773b04a.91e23","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85fa7550.4457c8","type":"http request","z":"2773b04a.91e23","name":"Consumo","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.110/emeter/0","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":340,"wires":[["52b3f321.09407c"]]},{"id":"1af0ea22.7031d6","type":"inject","z":"2773b04a.91e23","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["85fa7550.4457c8"]]},{"id":"b9d4186d.38e0e8","type":"ui_gauge","z":"2773b04a.91e23","name":"","group":"c3c8cb4d.1b72a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Potencia consumida","label":"Watts","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":340,"wires":[]},{"id":"69399a2a.c76c64","type":"function","z":"2773b04a.91e23","name":"","func":"msg.payload = msg.payload.power\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":340,"wires":[["b9d4186d.38e0e8"]]},{"id":"52b3f321.09407c","type":"json","z":"2773b04a.91e23","name":"","property":"payload","action":"","pretty":false,"x":570,"y":340,"wires":[["69399a2a.c76c64"]]},{"id":"be36503f.59128","type":"ui_switch","z":"2773b04a.91e23","name":"Switch","label":"Relé encendido","tooltip":"","group":"c3c8cb4d.1b72a8","order":3,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":950,"y":580,"wires":[["c56b93a5.f8839","d7d1249b.fb5378"]]},{"id":"b78ca2e5.901de","type":"http request","z":"2773b04a.91e23","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.10.110/relay/0?turn=on","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":620,"wires":[["517950d1.e010c"]]},{"id":"517950d1.e010c","type":"debug","z":"2773b04a.91e23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":580,"wires":[]},{"id":"c56b93a5.f8839","type":"switch","z":"2773b04a.91e23","name":"Activado","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":800,"wires":[["b78ca2e5.901de"]]},{"id":"d7d1249b.fb5378","type":"switch","z":"2773b04a.91e23","name":"Desactivado","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":880,"wires":[["4e8a7d46.16efd4"]]},{"id":"1b64566a.58bf7a","type":"debug","z":"2773b04a.91e23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":820,"wires":[]},{"id":"4e8a7d46.16efd4","type":"http request","z":"2773b04a.91e23","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.10.110/relay/0?turn=off","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":880,"wires":[["1b64566a.58bf7a"]]},{"id":"c3c8cb4d.1b72a8","type":"ui_group","name":"Home","tab":"a11b6c06.28536","order":1,"disp":true,"width":13,"collapse":false},{"id":"a11b6c06.28536","type":"ui_tab","name":"Default","icon":"dashboard","disabled":false,"hidden":false}]